@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.container-with-bg {
    width: 80%;
    margin: auto;
}
.container {
    width: 80%;
    margin: auto;
    /* padding: 80px 0; */
    text-align: center;
}
h3 {
    font-weight: 400;
}
h2{
    font-size: 40px;
}
h1{
    font-size: 52px;
    line-height: 52px;
}
h4 {
    font-size: 26px;
    line-height: 20px;
}
h5 {
    font-size: 18px;
}
.red {
    color: #b90e0a;
}
.white {
    color: white;
}
.banner {
    padding: 140px 0px;
    background-image: url("../images/Banner\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    border-radius: 5px;
}
.flex {
    display: flex;
}
.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.right {
    text-align: right;
    justify-content: right;
}
.hny img {
    width: 35%;
}
.half-width {
    width: 50%;
}
.welcome-banner {
    padding: 80px 40px;
    background-image: url("../images/Vectorrr.png");
    background-size: cover;
    margin: 80px 0;
    text-align: left;
    justify-content: space-between;
    border-radius: 5px;
}
.banner-text {
    width: 70%;
    padding-right: 10%;
}
.banner-img {
    width: 30%;
}
.banner-img img {
    width: 75%;
}
.event-banner {
    padding: 60px 0;
    margin: 60px auto;
    background-color: lightblue;
    border-radius: 5px;
}
.btn {
    color: white;
    background-color: #b90e0a;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.btn:hover {
    background-color: red;
    transition: .3s;
}
.footer {
    background-color: #070211;
    padding: 40px 0;
}
hr {
    margin: auto;
    width: 100%;
}
.icon-group {
    padding: 10px 0;
}
.icon-group img {
    padding: 0 5px;
}